*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: rgb(173, 151, 244);
    font: normal 15pt arial;
}
h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
section{
    background: white;
    width: 570px;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.337)
}
input{
    font-size: 15pt;
}
.botao{
    font-size: 12pt;
    padding:3pt 3pt 0pt 3pt;
    border: 0.5px solid black;
    cursor: pointer;
}
.botao:hover{
    background: rgba(173, 151, 244, 0.587);
    transition: 0.5s;
}
select{
    width: 150px;
    margin-bottom: 10px;
}
footer{
    color: white;
    text-align: center;
    margin-top: 10px;
}